.wrapper {
	width: 100%;
}

.my-navigation {
	border-radius: 0;
	position: relative;
	transition: all ease .2s;
}

.my-panel-body {
	height: 400px;
	line-height: 400px;
	padding: 0;
}

.nav-label {
	height: 50px;
	width: 50px;
}

.slides {
	margin-top: 12%;
}

.my-glyphicon {
	display: none;
	position: absolute;
}

.slide-nav {
	display: inline-block;
	width: 30%;
}

.nav-item {
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	width: 20px;
}

.slide {
	cursor: pointer;
	display: inline-block;
	max-height: 360px;

/* Draggable = false */
	-moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    -webkit-user-drag: none; 
    user-drag: none;
}

.panel-footer {
	display: none;
	padding: 0;
}

@media (min-width: 768px) {

	.my-navigation {
		height: 120px;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.my-navigation--hide {
		margin-top: -90px;
	}

	.my-navigation--hide .my-glyphicon {
		display: block;
		left: 50%;
		top: 100px;
	}

	.my-navigation--hide:hover {
		margin-top: 0;
	}

		.my-panel-body {
		height: 500px;
		line-height: 500px;
	}

	.navbar-nav li {
		min-width: 140px;
	}

	.slide  {
		max-height: 460px;	
	}

}